@font-face {
    font-family:'Rubik';
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    format (ttf);
    font-weight: normal;
    font-style: normal;
    }

section.result-component {

    width: inherit;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: inherit;
    background: linear-gradient(to bottom, #6040fd, #1612be);
}

.result-component-tittle h2 {
    margin: 0;
    color: #b5aef7;

}

.result-component-numbers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers{
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #4b23ca, #5c45ed);
    color: #b9a9fd;
    font-weight: bold;
}

.numbers span:nth-child(1)
{
    font-size: "Rubik", sans-serif;
    font-size: 68px;
    font-weight: 600;
    color: white;
}

.result-component-status{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.result-component-status{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.result-component-paragraph{
    display: flex;
    justify-content: center;
}

.result-component-paragraph p{
    width: 75%;
    margin: 0;
    color: #cac4ff;
    font-family: "Rubik", sans-serif;
    line-height: 22px;

}